
<div class="row">
    <div class="col-sm-12 mx-auto mb-1">
        <img src="{{ recipe.imgPath }}" alt="{{recipe.name}}" class="img-responsive rounded" style = "max-height: 200px; width: 150px">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <div class="btn-group" [appDropdown]= "1">
            <button type="button" class="btn btn-primary dropdown-toggle my-3" data-toggle="dropdown">
            Manage Recipe
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item"(click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                <li><a class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
                <li (click)="onDeleteRecipe()"><a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>{{recipe.desc}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>