<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a routerLink="/recipe" class="navbar-brand fw-semibold">Yum Recipes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav me-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/recipe">Recipes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
            </li>
        </ul>
    </div>
</nav>
