<a style="cursor:pointer; text-decoration:none;" class="list-group-item list-group-item-action p-3" [routerLink]="[index]" routerLinkActive="active">
    <div class="d-flex gap-3 align-items-center">
        <img [src]="recipeItem.imgPath" alt="{{ recipeItem.name }}" class="rounded" style="width: 72px; height: 72px; object-fit: cover;">
        <div>
            <h6 class="mb-1 fw-semibold">{{ recipeItem.name }}</h6>
            <p class="mb-0 text-muted small">{{ recipeItem.desc }}</p>
        </div>
    </div>
</a>
